h1 {
    font-family: Bradley Hand, cursive;
}

h2 {
    font-family: Bradley Hand, cursive;
}

.button {
    font-family: Bradley Hand, cursive;
    border-radius: 15px;
    transition-duration: 0.4;
}

.button1 {
    font-size: 4rem;
    text-align: center;
    margin-left: 40%;
    height: 200px;
    width: 400px;
    color: black;
    border: 2px solid #04AA6D;
}
.button1:hover {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

.button2 {
    font-size: 2.5rem;
    border: 2px solid tomato;
    color: black;
}
.button2:hover {
    background-color: tomato;
    color: white;
    cursor: pointer;
    transform: translateY(15px);
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}





